@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=STIX+Two+Text:ital,wght@0,500;0,700;1,500&display=swap');

body,
div,
header,
section,
input,
button,
textarea,
img,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --oak-white: #f1f8e9;
  --oak-light-green: #c5e1a5;
  --oak-normal-green: #558b2f;
  --oak-dark-green: #1a350f;

  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;

  background-color: var(--oak-white);
  color: var(--oak-dark-green);

  padding: 2.5em;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--oak-light-green);
}

body::-webkit-scrollbar-thumb {
  background: var(--oak-normal-green);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--oak-dark-green);
}

h1 {
  font-weight: 500;
  font-family: 'STIX Two Text', serif;
  font-size: 2em;
}

a {
  color: var(--oak-dark-green);
}

a:hover {
  color: var(--oak-normal-green);
}

input,
textarea {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--oak-dark-green);

  display: block;
  padding: 0.5em 0.8em;
  margin: 0 auto 0.4em auto;
  min-width: 210px;

  border: solid 2px var(--oak-normal-green);
  border-radius: 4px;
  background-color: var(--oak-white);
}

input:focus,
textarea:focus {
  outline: none;
  font-weight: 600;
}

textarea {
  resize: none;
  min-width: 100%;
  min-height: 72px;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: var(--oak-light-green);
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--oak-dark-green);
}

button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--oak-white);

  display: block;
  padding: 0.5em 1.2em;
  margin: 0 auto 0.4em auto;
  min-width: 210px;

  border: solid 2px var(--oak-normal-green);
  border-radius: 4px;
  background-color: var(--oak-normal-green);

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--oak-dark-green);
  border-color: var(--oak-dark-green);
}

button:active {
  background-color: var(--oak-normal-green);
  border-color: var(--oak-normal-green);
}

.left {
  text-align: left;
}

.FlexRow {
  display: flex;
  flex-direction: row;
}

#main-header {
  margin-bottom: 2.5em;
}

#main-header > p {
  font-size: 0.8em;
}

#oak-logo {
  margin-bottom: 8px;
}
