#check-list > h3 {
  margin: 1em;
}

#check-list--title {
  display: inline;
}

#check-list > button {
  display: inline;
  min-width: 42px;
  height: 42px;
  padding: 0;
}

#check-list ul {
  margin: 0;
  padding: 0;
}

#check-list ul li {
  list-style: none;
}

#check-list ul button {
  background-color: var(--oak-white);
  padding: 0;
  min-width: 42px;
  height: 42px;
  margin-right: 5px;
  display: inline;
}

#check-list ul input {
  margin-right: 5px;
  display: inline;
}
