table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

td,
th {
  border: solid 2px var(--oak-light-green);
  padding: 1em;
}

th {
  background-color: var(--oak-light-green);
}

ul {
  padding-left: 1.25em;
  margin: 0 0 1em 0;
}

li {
  list-style: square;
}
